<div class="user-sidebar">

  <div class="user-profile">
    <img src="/img/Home/perfil.svg">
    <p>Nome user</p>
  </div>

  <div class="menu-section">
    <div class="bar-section">Menu</div>
    <div class="menu-div">
      <ul class="menu-list">
        <li>
          <div class="icon icon-user"></div>
          <a href="">
            Meu perfil
          </a>
        </li>
        <li>
          <div class="icon icon-rocket"></div>
          <a href="">
            Meus treinos
          </a>
        </li>
        <li>
          <div class="icon icon-washer"></div>
          <a href="">
            Outros treinos
          </a>
        </li>
        <li>
          <div class="icon icon-logout"></div>
          <a href="">
            Sair
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="menu-section">
    <div class="bar-section">Contatos</div>
    <div class="menu-div">
      <ul class="menu-list">
        <li>
          <div class="icon icon-user"></div>
          <a href="">
            Meu perfil
          </a>
        </li>
        <li>
          <div class="icon icon-rocket"></div>
          <a href="">
            Meus treinos
          </a>
        </li>
        <li>
          <div class="icon icon-washer"></div>
          <a href="">
            Outros treinos
          </a>
        </li>
        <li>
          <div class="icon icon-logout"></div>
          <a href="">
            Sair
          </a>
        </li>
      </ul>
    </div>
  </div> -->

  <div class="logo-section">
    <img src="/img/login_page/logo.png" alt="Logo JV">
  </div>
</div>
