<head>
  <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>

<body>

  <div class="container-1">
    <p class="main-text">
      Personal
      <span class="secondary-text background-text">
        Trainer
      </span>
    </p>
    <p class="main-text">
      <span class="secondary-text background-text">Jhon</span>
      Vieira
    <p>
    <a href="/login" class="button">
      Registra-se
    </a>
  </div>


  <div>
    <div class="middle-bar">
        <h3 style="justify-items: center;">Serviços</h3>
    </div>
    <diV class="container">
      <div class="middle-box middle-img">
        <img class="man-img" src="/img/Home/body_man.png" alt="Body Man Image">
      </div>
      <div class="middle-box">
        <p>Avaliação física</p>
        <p>Acompanhamento profissional</p>
        <p>Treinos personalizados</p>
      </div>
      <div class="middle-box">
        <p>Motivação e suporte</p>
        <p>Definição de metas</p>
        <p>Prevenção de lesões</p>
      </div>
    </diV>
  </div>

  <div class="last-box">
    <div class="last-container">
      <div class="last-container-2">
        <div class="last-container-3">

        </div>
      </div>
    </div>
  </div>

</body>
