<div class="dashboard-container">
  <app-user-side-bar></app-user-side-bar>
  <div class="container">
    <h2>FitStatus Dashbaord</h2>

    <div class="margin section-calendar">
      Calendario Semanal de Treino
    </div>

    <div class="margin section-date">
      Dados do Aluno
    </div>

    <div class="margin section-graph">
      <div class="chart-mensure">
        Progesso de peso
      </div>
      <div class="chart-lost">
        Progesso de peso
      </div>
    </div>
  </div>
</div>



